#button--cyan:after {
    background-color: cyan;
}

#button--magenta:after {
    background-color: magenta;
}

#button--yellow:after {
    background-color: yellow;
}

#button--grey:after {
    background-color: grey;
}

#button--white:after {
    background-color: white;
}